

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);

html
{
    font-size: 1em;
    font-family: "Roboto Mono", "Helvetica Neue", Helvetica, sans-serif;
}

body {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    text-decoration: none;
    background-repeat: no-repeat;
    line-height: 1.7rem;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #000;
}

.header-wrapper
{
    position: relative;
    padding: 6vw;
    z-index: 4;
}

.header-text
{
    position: relative;
    padding-top: 1vw;
    color: #000;
}

.logo
{
    float: left;
    background-color: transparent;
    border: 1vw solid #fff;
    padding: 1.618rem;
    margin: 0 3vw 3vw 0;
    width: 3.141516vw;
}

.logo_small
{
    float: left;
    background-color: transparent;
    border: .8vw solid #fff;
    padding: 1rem;
    margin: 0 3vw 3vw 0;
    width: 2vw;
}

.name
{
    box-sizing: border-box;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.7rem;
    margin-bottom: 1.5vw;
    border: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.name span
{
    box-sizing: border-box;
    background-color: #fff;
    border: 1vw solid #fff;
}

.role
{
    font-weight: 400;
    line-height: 1.3rem;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.role span
{
    background-color: #fff;
    padding: 1vw;
}

.portret
{
    position: fixed;
    right: -2vw;
    z-index: -1;
    width: auto;
    height: 120vh;
    bottom: -30vh;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.content
{
    padding: 0vw 6vw 6vw 6vw;
    height: auto;
}
.content-footer
{
    padding: 0vw 6vw;
    height: auto;
}

.text-wrapper
{
}

.text
{
    color: #fff;
    text-decoration: none;
    display: inline;
    background: #000;
    padding: 1vw;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    line-height: 3vw;
}

.subtitle
{
    color: #fff;
    text-decoration: none;
    display: inline;
    background: #000;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    line-height: 2vw;
    font-size: 1.6rem;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-weight: 900;
}

.project-name
{
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 2vw;
}

.project-description
{
    color: #555;
    text-decoration: none;
    background: #000;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 0.8rem;
    line-height: 1.4rem;
    max-width: 44vw;
    margin-bottom: 1rem;
}

.project-link
{
    color: #fff;
    text-decoration: none;
    display: inline;
    background: #000;
    padding: 1vw;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    line-height: 3vw;
}

.img-max-w
{
    max-width: 82vw;
    width: auto;
    margin-bottom: 6vw;
    margin-top: 3vw;
}

.img-w
{
    max-width: 100%;
}

.text span
{
    padding: .5vw;
    margin-left: -1.5vw;
    background-color: #000;
    position: relative;
}

.bg-black
{
    background-color: #000;
}

.pt-8
{
    padding-top: 8vw;
}

::selection
{
    background-color: #00fffc;
    color: #000;
}

.btn-wrapper
{
    padding: 0;
    margin: 7vw 0;
    z-index: 4;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn
{
    padding: 1vw 0vw;
    color: #000;
    overflow: hidden;
    display: inline;
}

.btn-bg
{
    padding: 1vw 2vw;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    z-index: 8;
}

.btn-bg:hover
{
    background-color: #00fffc;
    cursor: pointer;
}

ul, li
{
    list-style: none;
}

li
{
    color: #fff;
}

a:hover, a:active, a:focus,
{
    color: #fff;
    text-decoration: none;
}

a:visited
{
}

.phone {
    text-decoration: none;
    border-bottom: .5rem solid #fff;
    border-bottom: none;
}

.links
{

    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: .8rem;
    display: inline;
}

.link
{
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 1vw;
    margin: 3vw 3vw 0 -1vw;
}

.link:visited
{
}

.link:focus, .link:hover
{
    color: #fff;
    cursor: pointer;
    padding-bottom: .5rem;
    border-bottom: .5rem solid #fff;
}

.contacts li
{
    display: inline-block;
    padding: 4vw 0;
}

.links li
{
    display: block;
    padding: 1vw 0;
}

.email-link:before
{
    content: "\2585";
    font-size: 1rem;
    padding: 0 .2rem 0 1rem;
    margin-left: -1rem;
    color: #fff;
    display: inline;
}

a[href^="tel:"]
{
    content: "\2708";
    color: #000;
    background-color: #fff;
}

a[href^="tel:"]:before
{
    content: "\2708";
    padding-right: .4rem;
    color: #000;
    display: inline;
}

/* a[href^="tel:"]:hover:before
{
    content: "\2708";
    color: #000;
    display: inline;
}

a[href^="tel:"]:hover
{
    color: #000;
    display: inline;
    padding-bottom: .5rem;
    border-bottom: .5rem solid #00fffc;
    text-decoration: none;
} */

.hi
{
    font-size: 1.4rem;
}

@media screen and (max-width: 26rem)
{
    html
    {
        font-size: 1.2rem;
    }
    .header-wrapper
    {
        margin-bottom: 6vh;
    }
    .logo
    {
        float: none;
        width: 10vw;
    }
    .portret
    {
        height: auto;
        width: 60vw;
        bottom: -3vh;
    }
    .btn-wrapper
    {
        position: relative;
        padding: 4vw 6vw;
        margin-left: -6vw;
        display: inline;
    }
    .btn-bg
    {
        padding: 4vw;
    }
    .btn
    {
        padding: 4vw 0vw;
    }
    .contacts li
    {
        display: block;
    }
    .content
    {
        max-width: 100vw;
    }
    .img-max-w
    {
        max-width: 90vw;
        margin-bottom: 6vw;
        margin-top: 6vw;
    }
    .img-w
    {
        max-width: 100%;
    }
    .text-wrapper
    {
        margin-bottom: 12vw;
    }
    .content
    {
        margin-bottom: 12vw;
    }
     .project-name {
    	    max-width: 82vw;
            font-size: 1.4rem;
    }
    .project-description {
    	    max-width: 82vw;
            font-size: 1.1rem;
            line-height: 1.4rem;
    }
    .subtitle
{
    color: #fff;
    text-decoration: none;
    display: inline;
    background: #000;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    line-height: 2vw;
    font-size: 1.4rem;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-weight: 900;
}
}

@media (min-width: 26rem) and (max-width: 48rem)
{
    html
    {
        font-size: 1.4rem;
    }
    .header-wrapper
    {
        padding-bottom: 12vw;
    }
    .header-text
    {
        width: 70vw;
    }
    .logo
    {
        float: none;
        width: 8vw;
    }
    .portret
    {
        height: 80vh;
        bottom: -3vh;
    }
    .btn-wrapper
    {
        padding: 4vw 8vw;
        margin-left: -8vw;
    }
    .btn-bg
    {
        padding: 4vw;
    }
    .btn
    {
        padding: 4vw 0vw;
    }
    .content
    {
        max-width: 60vw;
    }
        .content-footer
{
	max-width: 60vw;

    height: auto;
}
     .project-description {
    	    max-width: 82vw;
    }
}

@media only screen and (min-width: 48rem)
{
    html
    {
        font-size: 1.4rem;
    }
    .content
    {
        max-width: 80vw;
    }
    .content-footer
{
	max-width: 80vw;
    padding: 0vw 6vw;
    height: auto;
}
    .btn-bg
    {
        padding: 2vw;
    }
    .btn
    {
        padding: 2vw 0vw;
    }
}
